<div class="col-2 left-section text-center align-items-center">
    <div class="col">
        <a href="/patient/edit"><i class="fas fa-user-circle mb-3"></i></a>

        <p> <%= paciente.pc.nomePaciente %>  </p>
        <a href="/paciente/perfil">Editar Perfil</a>
    </div>
    <div class="col btn-group" id="#">
        <ul class="btn-list-group list-unstyled mx-auto">
          <li class="btn-item">
            <a class="btn btn-white btn-link" href="/patient">Marcações</a>
          </li>
        </ul>
      </div>
    <div class="col">
      <a class="btn btn-main" href="/logout" style="color: rgba(255, 255, 255, 0.63)">Logout</a> <br>
        <a class="btn btn-main" href="/" style="color: rgba(255, 255, 255, 0.63)">Home</a>
    </div>
</div>