
<!-- Modal CURSOS DESTAQUE -->

<!-- Modal CCTV COM FIBRA -->
<div class="modal fade" tabindex="-1" id="cursodestaque01" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">CCTV com Fibra Óptica</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Nessa formação será abordada conceitos avançados de configuração de NVR, DVR, uso de cameras Speed Dome, infraestrutura de rede óptica para o circuito de CCTV.</p>
                <p>Entende na prática o funcionamento de uma circuito CCTV, desde o levantamento de requisitos até a configuração dos equipamentos: câmeras e concentradores.</p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Redes 5G -->
<div class="modal fade" tabindex="-1" id="cursodestaque02" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">Redes 5G</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Conheça a nova geração de comunicações Móveis celulares: evolução tecnologica, cenário, desafios,
                requesitos, Dispositivos/componentes, diferença com o IoT, ondas milimetricas, oportunidades, potêncial
                economico.</p>
                <p>A formação prepara profissionais para actuarem na nova tecnologia de redes móveis celulares, bem como
                instiga-los na busca de soluções baseadas no 5G, uma vez que esssa tecnologia possui um leque de
                oportunidade muito grande.</p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Dimensionamento de Redes Celulares -->
<div class="modal fade" tabindex="-1" id="cursodestaque03" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">Dimensionamento de Redes Celulares</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>A formação visa preparar profissionais para darem respostas aos problemas enfrentados no planeamento
                e/ou optimização de uma rede celular.</p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal GPON -->
<div class="modal fade" tabindex="-1" id="cursodestaque04" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">GPON</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Capacitar profissionais, no domínio de tecnologias de acesso em redes ópticas, configuração e gerência
                de OLTs e ONUs em uma rede FTTx.</p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Teste/Emendas Fusão de Fibra Óptica -->
<div class="modal fade" tabindex="-1" id="cursodestaque05" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">Teste/Emendas Fusão de Fibra Óptica</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Capacitar os participantes, no domínio de manutenção e instalação de redes ópticas, utilizando
                equipamentos de testes e emendas de fibras ópticas. O curso se enquadra em vertente teórico/prático.
                Presume-se que o público alvo seja, técnico de telecomunicações, docentes, estudantes e diferentes
                cidadãos inseridos no mercado de Tecnologias de Informação e Comunicação.</p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Redes de Fibra Óptica -->
<div class="modal fade" tabindex="-1" id="cursodestaque06" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
        <h3 class="modal-title">Redes de Fibra Óptica</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>Capacitar os Participantes no domínio das redes FTTx, desde o planeamento a implementação das mesmas,
                utilizando simuladores e equipamentos reais. </p>
              </div>
              <div class="mb-2">
                <h4>Pré-Inscrição</h4>
                <form action="https://api.staticforms.xyz/submit" method="post" id="fContacto">
                  <input type="hidden" name="accessKey" value="f33e015f-bda1-463b-9ca7-2b35aa97a9df">
                  <input type="hidden" name="subject" value="CCTV COM FIBRA ÓPTICA" />
                  <input type="text" class="form-control form-control-sm mb-3" id="iNome" name="nome" placeholder="Nome completo" required>
                  <input type="email" class="form-control form-control-sm mb-3" id="iEmail" name="email" placeholder="Endereço de e-mail" required>
                  <input type="text" class="form-control form-control-sm mb-3" id="iTelefone" name="phone" placeholder="Telemóvel" required>
                  <button type="submit" class="btn btn-primary btn-sm" value="Submit">ENVIAR</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <img src="images/cursos/tecnicos/jpg/cctv_com_fibra.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="container">
          <h5>Mais informação</h5>
          <a class="text-color mr-3" href="callto:+244944683483"><strong><i class="ti-mobile"></i> </strong>+244 944 683 483 </a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.facebook.com/Inefor.consultoria"><i class="ti-facebook" target="_blank"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" target="_blank" href="https://www.instagram.com/inefor_lda/?hl=pt"><i class="ti-instagram" target="_blank"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Modal CURSOS -->




<!-- Modal Mini-->
<div class="modal fade text-center" id="produto03" tabindex="-3" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content rounded-0 border-0 p-4">
      <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 text-justify">
              <h3 class="text-center">Mini OTDR Orientek K330</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed vitae, minus harum reiciendis illum fugit soluta facilis ullam distinctio, provident quae accusamus qui itaque temporibus laboriosam velit doloremque voluptatem.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed vitae, minus harum reiciendis illum fugit soluta facilis ullam distinctio, provident quae accusamus qui itaque temporibus laboriosam velit doloremque voluptatem.</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
            </div>
            <div class="col-12">
              <a href="contacta-nos.php"  class="btn btn-primary">solicitar</a>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Modal PRODUTOS -->