<div class="col-2 left-section text-center align-items-center bg-dark">
    <div class="col">
        <a href="/perfil/editarPerfil"><i class="fas fa-user-circle"></i></a>
        <p class="name-user"><%= adm.nomeAdmin %></p>
    </div>
    <div class="col btn-group" id="#">
        <ul class="btn-list-group list-unstyled mx-auto">
            <li class="btn-item">
                <a class="btn btn-white btn-link" href="/admin">Dashboard</a>
            </li>
            <li class="btn-item">
                <a class="btn btn-white btn-link" href="/admin/marcacao">Marcação</a>
            </li>
            <li class="btn-item">
                <a class="btn btn-white btn-link" href="/admin/paciente">Paciente</a>
            </li>
            <li class="btn-item">
                <a class="btn btn-white btn-link" href="/admin/medico">Médico</a>
            </li>
            <li class="btn-item">
                <a class="btn btn-white btn-link d-none" href="/admin/editarPerfil">Editar Perfil</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <a class="btn btn-main" href="/" style="color: rgba(255, 255, 255, 1)">Home</a> <br>
        <a class="btn btn-main" href="/logout" style="color: rgba(255, 255, 255, 0.63)">Logout</a> 
    </div>
</div>