<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--Josefin Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--montsreat-->
    <link
        href="https://fonts.googleapis.com/css2?family=Estonia&family=Montserrat:wght@200;300;400;700;900&display=swap"
        rel="stylesheet">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/b989a32885.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/marcacao.css">
</head>

<body>
    <header class="page-marcacao">
        <div class="row">
            <div class="col-4 left-section text-center align-items-center">
                <div class="col">
                    <a href="/perfil/editarPerfil"><i class="fas fa-user-circle"></i></a>
                    <p class="name-user">Mirceia de Brito</p>
                </div>
                <div class="col btn-group" id="#">
                    <ul class="btn-list-group list-unstyled mx-auto">
                      <li class="btn-item">
                        <a class="btn btn-white btn-link" href="/perfil/logado">Home</a>
                      </li>
                      <li class="btn-item">
                        <a class="btn btn-white btn-link" href="/perfil/historico">Histórico</a>
                      </li>
                      <li class="btn-item">
                        <a class="btn btn-white btn-link" href="/perfil/editarPerfil">Editar Perfil</a>
                      </li>
                      <li class="btn-item">
                        <a class="btn btn-white btn-link" href="/">Sair</a>
                      </li>
                    </ul>
                  </div>
                <div class="col about-zone text-center">
                    <h6>Biografia</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quisquam neque consequatur recusandae eligendi magnam perferendis reprehenderit in voluptatibus. Libero.</p>
                </div>  
            </div>
            <div class="col-8 right-section">
                <div class="col">
                    <h1>Sinta-se avontade connosco</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic similique ipsa corporis atque quo, dignissimos aspernatur quas natus! Itaque obcaecati minima fugit, totam hic sunt.</p>
                </div>
                <div class="col resumo mt-4 pt-4 pb-5 text-center">
                    <h1>Editar Marcação <%= Schedule.type %></h1>
                    <div class="row">
                        <div class="col p-3">
                            <form action="/schedule/update" method="post" class="pd-2 g-5 d-flex align-items-center">
                                <input type="hidden" name="id" value="<%= Schedule.id %>">
                                <input type="text" list="tipo" name="typeSchedule" value="<%= Schedule.type %>" class="inputDate p-3 rounded-pill bg-light mb-2 form-control" id="nomePaciente" placeholder="Tipo de Consulta">
                                <datalist id="tipo">
                                    <option value="Ecografia"></option>
                                    <option value="Obstretice"></option>
                                    <option value="Ortopedia"></option>
                                  </datalist>
                                <!--input type="date" name="dateSchedule" class="inputDate p-3 rounded-pill bg-light mb-2 form-control" id="telefonePaciente"-->
                                <button type="submit" class="border-0 btn btn-main rounded-pill mb-2"><i class="fas fa-check"></i></button>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="col shuduller text-start">
                    <h1>Agendados</h1>
                    <div class="row">
                        <div class="col col-hoje p-3">
                            <h5>Pediatria</h5>
                            <p>Hoje</p>
                            <p>Dr. célcio de Lemos</p>
                        </div>
                        <div class="col p-3">
                            <h5>Pediatria</h5>
                            <p>10h50-28/03</p>
                            <p>Dr. célcio de Lemos</p>
                        </div>
                        <div class="col p-3">
                            <h5>Pediatria</h5>
                            <p>10h50-28/03</p>
                            <p>Dr. célcio de Lemos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>