<div class="col-4 left-section text-center align-items-center">
    <div class="col">
        <a href="/patient/edit"><i class="fas fa-user-circle"></i></a>
        <p class="name-user">@nomeDoutor</p>
    </div>
    <div class="col btn-group" id="#">
        <ul class="btn-list-group list-unstyled mx-auto">
          <li class="btn-item">
            <a class="btn btn-white btn-link" href="/schedule/new/newPatient">Marcações</a>
          </li>
        </ul>
      </div>
    <div class="col about-zone text-center">
        <h6>Biografia</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quisquam neque consequatur recusandae eligendi magnam perferendis reprehenderit in voluptatibus. Libero.</p>
    </div>  
    <div class="col">
        <a class="btn btn-main" href="/" style="color: rgba(255, 255, 255, 0.63)">Home</a>
        <a class="btn btn-main" href="/login" style="color: rgba(255, 255, 255, 0.63)">Logout</a>
    </div>
</div>