<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organ</title>
    <!--bootstrap default-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    
  <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="page-login">
        <div class="row">
            <div class="col-5 left-section">
              <div class="row d-block">
                <div class="col">
                  <a class="logo" href="/"><i class="fa fa-heart"> Organ</i></a>
                </div>
                <div class="col form">                  
                  <h1 class="mb-5">Entrar</h1>
                  <!--form method="post" action="/SavePatient" class="text-start"-->
                  <form method="post" action="/authenticateAdmin" class="text-start">
                    <div class="mb-3">
                      <input name="user" type="text" class="form-control border-0 border-bottom" placeholder="Nome de usuário" id="exampleInputName">
                    </div>
                    <div class="mb-3">
                      <input name="pass" type="password" class="form-control border-0 border-bottom" placeholder="Senha" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn-dark mt-3">Continuar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-7 right-section text-center text-dark" style="background-image: url('../../public/assets/download/doencas_oculares_preexistentes_na_gravidez.jpg.webp');">
              <img src="/assets/asset2.png" alt="" class="img-fluid">
            </div>
        </div>
    </header>
</body>

</html>