
header {
    background-color: var(--default);
    color: var(--default);
}

.page-marcacao{
    height: 100vh;  
    font-family: "Josefin Sans", "San serif";
}

/**********left-section***********/
.page-marcacao .left-section{
    background-color: var(--primray);
    color: #fff;
    padding-top: 60px;
    
}

/*user*/
.page-marcacao .left-section a{
color:white;
}

.page-marcacao .left-section .fas{
font-size:10rem;
}

/*botoes*/
.page-marcacao .left-section .btn{
    text-decoration: none;
    color: var(--secondary);
    margin: 2px;
    border-radius: 20px;
}

/*about-zone*/
.about-zone{
    margin:10%;
    color:rgb(255, 255, 255);
    font-size: 10px;
}


/**********right-section************/
.page-marcacao .right-section{
    height: 100vh;
    color: var(--secondary);
    padding: 10%;
}

.page-marcacao .right-section h1{
    color: #333333;
    text-align: center;
    font-size: 2rem;
}

.page-marcacao .right-section .shuduller .col{
    background-color: #FFF3F5;
    color: var(--primray);
    box-shadow: 0px 0px 50px 10px rgba(30, 30, 30, .10);
    margin-right: 10px;
    border-radius: 20px;
}

.page-marcacao .right-section .shuduller .col-hoje{
    background-color: var(--primray);
    color: var(--default);
}